@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

/* base tags */

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
  box-sizing: border-box;

/* #25262C dark blue */
/* #1ACAC8 teal */
/* #E2E2E2 grey */


}

body {

}

header {
  height: 60px;
  clear: both;
  color: #1ACAC8;
  background: #25262C url('../images/border.png') repeat-x top;
}




/* top nav */

.top-nav-full {
  display: none;
}

/* body */

section {
  clear: both;
  color: #25262C;
}

.features {
  font-size: .9rem;
  letter-spacing: 2px;
  color: #25262C;
  text-align: center;
  text-transform: uppercase;
  background: #1ACAC8;
  box-shadow: 0 .5rem .5rem rgba(0,0,0,.2);
}

.features li {
  padding: 1.2575rem;
  border-top: 1px solid #13918F;
}

.features span {
  color: #fff;
}

.features .feature-title {
  padding: 1rem 1.2575rem;
  color: #1ACAC8;
  background: #25262C;
  border-top: none;
}

.hero {
  height: 266px;
  background: #1ACAC8 url('../images/scenery.png') no-repeat right top;
  background-size: cover;
}

/* footer */

footer {
  clear: both;
  color: #1ACAC8;  
  background: #25262C url('../images/border.png') repeat-x top;
}

.copyright {
  text-align: center;
}

/* bottom nav */
.bottom-nav ul {
  display: inline-block;
  width: 50%;
}

.bottom-nav ul.mobile-hidden {
  display: none;
}






@media only screen and (min-width: 768px) {

  .bottom-nav ul {
    width: 33.3%
  }


  .bottom-nav ul.mobile-hidden {
    display: inline-block;
  }

}

@media only screen and (min-width: 1200px) {

}
